<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Comparisons</title>
		<script src="/public/htmx.min.js"></script>
		<!-- <link href="css/style.css" rel="stylesheet"> -->
	</head>
	<body>
		<form hx-post="/user">
			<label for="email">Please type your email to proceed:</label>
			<input type="email" name="email" id="email" value="">
			<button type="submit">Submit</button>
		</form>
	</body>
</html>
